.formcontainer {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
 border: 1px solid ;
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .row1 {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr;
    gap: 8px;
    width: 100%;
  }
  .row2 {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    gap: 8px;
    width: 100%;
  }
  .row3 {
    
    gap: 8px;
    width: 100%;
  }
  .row4 {
    width: 40%;
  }
  .row5 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 200px;
    .buttoncontainer{
      display: flex;
      gap: 60px;
      justify-content: center;
    }
  }
}
